@font-face {
    font-family: Merienda;
    src: url('../src/fonts/Merienda.ttf') format('truetype');
}

@font-face {
    font-family: Quicksand;
    src: url('../src/fonts/Quicksand-Medium.ttf') format('truetype');
}

#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: rgb(245, 245, 245);
    margin-left: 240px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
